{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block extrahead %}
  <style>
    *, *:before, *:after {
    	 box-sizing: border-box;
    	 margin: 0;
    	 padding: 0;
    }
     body {
    	 font-family: "Open Sans", Helvetica, Arial, sans-serif;
    	 background: #ededed;
       overflow-y: hidden;
    }
     input, button {
    	 border: none;
    	 outline: none;
    	 background: none;
    	 font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
     .tip {
    	 font-size: 20px;
    	 margin: 40px auto 50px;
    	 text-align: center;
    }
     .cont {
    	 overflow: hidden;
    	 position: relative;
    	 width: 900px;
    	 height: 550px;
    	 margin: 0 auto 100px;
    	 background: #fafafa;
    }
     .form {
    	 position: relative;
    	 width: 640px;
    	 height: 100%;
    	 transition: transform 1.2s ease-in-out;
    	 padding: 50px 30px 0;
    }
     .sub-cont {
    	 overflow: hidden;
    	 position: absolute;
    	 left: 640px;
    	 top: 0;
    	 width: 900px;
    	 height: 100%;
    	 padding-left: 260px;
    	 background: #fafafa;
    	 transition: transform 1.2s ease-in-out;
    }
     .cont.s--signup .sub-cont {
    	 transform: translate3d(-640px, 0, 0);
    }
     button {
    	 display: block;
    	 margin: 0 auto;
    	 width: 260px;
    	 height: 36px;
    	 border-radius: 30px;
    	 color: #fff;
    	 font-size: 15px;
    	 cursor: pointer;
    }
     .img {
    	 overflow: hidden;
    	 z-index: 2;
    	 position: absolute;
    	 left: 0;
    	 top: 0;
    	 width: 260px;
    	 height: 100%;
    	 padding-top: 360px;
    }
     .img:before {
    	 content: "";
    	 position: absolute;
    	 right: 0;
    	 top: 0;
    	 width: 900px;
    	 height: 100%;
    	 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
    	 background-size: cover;
    	 transition: transform 1.2s ease-in-out;
    }
     .img:after {
    	 content: "";
    	 position: absolute;
    	 left: 0;
    	 top: 0;
    	 width: 100%;
    	 height: 100%;
    	 background: rgba(0, 0, 0, 0.6);
    }
     .cont.s--signup .img:before {
    	 transform: translate3d(640px, 0, 0);
    }
     .img__text {
    	 z-index: 2;
    	 position: absolute;
    	 left: 0;
    	 top: 50px;
    	 width: 100%;
    	 padding: 0 20px;
    	 text-align: center;
    	 color: #fff;
    	 transition: transform 1.2s ease-in-out;
    }
     .img__text h2 {
    	 margin-bottom: 10px;
    	 font-weight: normal;
    }
     .img__text p {
    	 font-size: 14px;
    	 line-height: 1.5;
    }
     .cont.s--signup .img__text.m--up {
    	 transform: translateX(520px);
    }
     .img__text.m--in {
    	 transform: translateX(-520px);
    }
     .cont.s--signup .img__text.m--in {
    	 transform: translateX(0);
    }
     .img__btn {
    	 overflow: hidden;
    	 z-index: 2;
    	 position: relative;
    	 width: 100px;
    	 height: 36px;
    	 margin: 0 auto;
    	 background: transparent;
    	 color: #fff;
    	 text-transform: uppercase;
    	 font-size: 15px;
    	 cursor: pointer;
    }
     .img__btn:after {
    	 content: "";
    	 z-index: 2;
    	 position: absolute;
    	 left: 0;
    	 top: 0;
    	 width: 100%;
    	 height: 100%;
    	 border: 2px solid #fff;
    	 border-radius: 30px;
    }
     .img__btn span {
    	 position: absolute;
    	 left: 0;
    	 top: 0;
    	 display: flex;
    	 justify-content: center;
    	 align-items: center;
    	 width: 100%;
    	 height: 100%;
    	 transition: transform 1.2s;
    }
     .img__btn span.m--in {
    	 transform: translateY(-72px);
    }
     .cont.s--signup .img__btn span.m--in {
    	 transform: translateY(0);
    }
     .cont.s--signup .img__btn span.m--up {
    	 transform: translateY(72px);
    }
     h2 {
    	 width: 100%;
    	 font-size: 26px;
    	 text-align: center;
    }
     label {
    	 display: block;
    	 width: 260px;
    	 margin: 25px auto 0;
    	 text-align: center;
    }
     label span {
    	 font-size: 12px;
    	 color: #cfcfcf;
    	 text-transform: uppercase;
    }
     input {
    	 display: block;
    	 width: 100%;
    	 margin-top: 5px;
    	 padding-bottom: 5px;
    	 font-size: 16px;
    	 border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    	 text-align: center;
    }
     .forgot-pass {
    	 margin-top: 15px;
    	 text-align: center;
    	 font-size: 12px;
    	 color: #cfcfcf;
    }
     .submit {
    	 margin-top: 40px;
    	 margin-bottom: 20px;
    	 background: #d4af7a;
    	 text-transform: uppercase;
    }
     .fb-btn {
    	 border: 2px solid #d3dae9;
    	 color: #8fa1c7;
    }
     .fb-btn span {
    	 font-weight: bold;
    	 color: #455a81;
    }
     .sign-in {
    	 transition-timing-function: ease-out;

    }
     .cont.s--signup .sign-in {
    	 transition-timing-function: ease-in-out;
    	 transition-duration: 1.2s;
    	 transform: translate3d(640px, 0, 0);
    }
     .sign-up {
    	 transform: translate3d(-900px, 0, 0);
    }
     .cont.s--signup .sign-up {
    	 transform: translate3d(0, 0, 0);
    }
     .icon-link {
    	 position: absolute;
    	 left: 5px;
    	 bottom: 5px;
    	 width: 32px;
    }
     .icon-link img {
    	 width: 100%;
    	 vertical-align: top;
    }
     .icon-link--twitter {
    	 left: auto;
    	 right: 5px;
    }

    .ftco-navbar-light .container{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #over {
      position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 0;
    }
  </style>
  <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div style="width:100%;height:100vh;background-size:100%;">
  <img style="width:100%;height:100vh;" src="{% static 'authbg.jpg' %}" alt="">
  <div id="over"></div>
</div>
<!-- <p class="tip"></p> -->
<div style="margin-top:-38%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:3px;height:540px;" class="cont">
  <div class="form sign-in">
							<!-- login -->
	  <form method="POST" action="{% url 'home:login' %}">
	  {% csrf_token %}
    <h2 style="margin-top:-4%;">Welcome back</h2>
    <label>
      <span>Email</span>
      <input type="email"  name="email"/>
    </label>
    <label>
      <span>Password</span>
      <input type="password"  name="password"/>
    </label><br>
    <!--<a href="{% url 'reset_display' %}"><p class="forgot-pass">Forgot password?</p></a>-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <center>
      <small>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <div class="w3-panel w3-grey w3-display-container">

          <h10 class="{{ message.tags }}" style="color: #de5246;"> {{ message }}</h10>

        </div>
        {% endfor %}
        </ul>
        {% endif %}
      </small>
    </center>
    <div style="margin-left:24%;" class="g-recaptcha" data-sitekey="6LeEjNwUAAAAAIB7W_J0Go6mNXuddOYvS1IKlU8f"></div>
    <button style="background:#ffb400" type="submit" class="submit">Sign In</button>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><button style="background:#de5246;color:white;margin-top:-1%;" type="button"><i class="fab fa-google-plus-g"></i> Connect with <span style="color:white">Google</span></button></a>
    <br><br>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2 style="color:white;">New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2 style="color:white;">One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
	</div>

							<!-- sign up -->

	<div class="form sign-up" >

	<form method="POST" action="{% url 'home:signup' %}">
			{% csrf_token %}
      <h2>Time to feel like home,</h2>
      <table style="width:80%;margin-left:4%;">
        <tr>
          <td style="width:40%;padding-right:4%;">
            <label>
              <span>Name</span>
              <input type="text" name="username" />
            </label>
          </td>
          <td style="width:40%;">
            <label>
              <span>Email</span>
              <input type="email" name="email" />
            </label>
          </td>
        </tr>
        <tr>
          <td style="width:40%;padding-right:4%;padding-top:2%;">
            <label>
              <span>Password</span>
              <input type="password" name="password" />
            </label>
          </td>
          <td style="width:40%;padding-top:2%;">
            <label>
              <span>Confirm Password</span>
              <input type="password" name="repassword" />
            </label>
          </td>
        </tr>
      </table>
      <br>
      <center>
        <small>
          {% if messages %}
          <ul class="messages">
          {% for message in messages %}
          <div class="w3-panel w3-grey w3-display-container">

            <h10 class="{{ message.tags }}" style="color: #de5246;"> {{ message }}</h10>

          </div>
          {% endfor %}
          </ul>
          {% endif %}
        </small>
      </center>
      <button style="background:#ffb400;margin-top:6%;" type="submit" class="submit">Sign Up</button>
      <button style="background:#de5246;color:white;margin-top:-1%;" type="button"><i class="fab fa-google-plus-g"></i> Join with <span style="color:white">Google</span></button>
	</form>
	</div>

  </div>
</div>
<br><br><br><br>
<script type="text/javascript">
  document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});
</script>

{% endblock %}
