{% extends 'basein.html' %}
{% load staticfiles %}
{% load static %}

{% block extrahead %}
<style>
  .radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0.1em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}


.testi-wrap {
  margin: 10px auto;
}
.testi-wrap:before, .testi-wrap:after {
  content: "";
  display: table;
}
.testi-wrap:after {
  clear: both;
}

.testi {
  background: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 0 0 rgba(1, 1, 1, 0.1);
  position: relative;
  color: #666;
  padding: 20px;
  margin-bottom: 30px;
}
.testi:before, .testi:after {
  position: absolute;
  visibility: visible;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}
.testi:before {
  border-width: 17px;
  border-top-color: rgba(1, 1, 1, 0.15);
  bottom: -17px;
  left: 14px;
}
.testi:after {
  border-width: 15px;
  border-top-color: #fff;
  bottom: -15px;
  left: 16px;
}
.testi strong {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.testi-author {
  display: block;
  line-height: 1.2;
}
.testi-author .name {
  color: #76b0f5;
}
.testi-author strong {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #76b0f5;
}
.testi-author .name, .testi-author .stars {
  display: block;
  float: left;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: 250px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}
.b11_3d_jumpback {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b11_3d_jumpback div {
    color: #000000;
    background-color: rgba(255, 180, 0, 0.2);
    border: #ffb400 solid 1px;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.b11_3d_jumpback:hover div {
    color: #ffffff;
    background-color: #ffb400;
    animation: b11_3d_jump 0.3s ease-out;
    -webkit-animation: b11_3d_jump 0.3s ease-out;
    -moz-animation: b11_3d_jump 0.3s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes b11_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #ffffff;
        color: #000000;
    }
    49.99% {
        transform: translateZ(100px) rotateX(90deg);
        -webkit-transform: translateZ(100px) rotateX(90deg);
        -moz-transform: translateZ(100px) rotateX(90deg);
        background-color: #ffb800;
        color: #000000;
    }
    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #ffb800;
        color: #808080;
    }
    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #ffb800;
        color: #ffffff;
    }
}

@-moz-keyframes b11_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #ffffff;
        color: #000000;
    }
    49.99% {
        transform: translateZ(100px) rotateX(90deg);
        -webkit-transform: translateZ(100px) rotateX(90deg);
        -moz-transform: translateZ(100px) rotateX(90deg);
        background-color: #808080;
        color: #000000;
    }
    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #000000;
        color: #808080;
    }
    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #000000;
        color: #ffffff;
    }
}

.price:hover{
    color:white;
    background-color:#ffb400;
}

</style>

{% endblock %}

{% block body %}


    <div class="hero-wrap js-fullheight" style="background-image: url({% static '/landing/images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Be a Traveler not a Tourist</h1>
            <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Travel to the any corner of the world, without going around in circles</p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container">
	    	<div class="row">
					<div class="col-md-12">
						<div class="search-wrap-1 ftco-animate p-4">
							<form action="{% url 'home:questions' %}" class="search-property-1" method="POST">
                {% csrf_token %}
		        		<div class="row">
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Destination</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="ion-ios-search"></span></div>
				                <input type="text" name="place" class="form-control" placeholder="Search place">
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Check-in date</label>
		        					<div class="form-field">
		          					<div class="icon"><span class="ion-ios-calendar"></span></div>
				                <input type="text" name="checkin" class="form-control checkin_date" placeholder="Check In Date">
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Check-out date</label>
		        					<div class="form-field">
		          					<div class="icon"><span class="ion-ios-calendar"></span></div>
				                <input type="text" name="checkout" class="form-control checkout_date" placeholder="Check Out Date">
				              </div>
			              </div>
		        			</div>
		        			
		        			<div class="col-lg align-self-end">
		        				<div class="form-group">
		        					<div class="form-field">
				                <input type="submit" value="Search" class="form-control btn btn-primary">
				              </div>
			              </div>
		        			</div>
		        		</div>
		        	</form>
		        </div>
					</div>
	    	</div>
	    </div>
    </section>

    <section style="padding-top:6em;padding-bottom:1em;" class="ftco-section services-section">
      <center>
      <div class="container">
        <div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Easy to use, easy to browse</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <i style="color:#6b9ee8;font-size:60px;" class="fas fa-drafting-compass"></i>
              <div class="media-body" style="margin-top:5%;">
                <h3 class="heading mb-3">Get a personalised plan</h3>
                <p style="margin-top:-5%;">	A complete day-by-day itinerary based on your preferences.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <i style="color:#6b9ee8;font-size:60px;" class="far fa-calendar-check"></i>
              <div class="media-body" style="margin-top:5%;">
                <h3 class="heading mb-3">Customize it</h3>
                <p style="margin-top:-5%;">Refine your plan. We'll find the best routes and schedules.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <i style="color:#6b9ee8;font-size:60px;" class="fas fa-bus-alt"></i>
              <div class="media-body" style="margin-top:5%;">
                <h3 class="heading mb-3">Book it</h3>
                <p style="margin-top:-5%;">Choose from the best hotels and activities. Up to 50% off.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <i style="color:#6b9ee8;font-size:60px;" class="fas fa-route"></i>
              <div class="media-body" style="margin-top:5%;">
                <h3 class="heading mb-3">Manage it</h3>
                <p style="margin-top:-5%;">Everything in one place. Everyone on the same page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
    </section>

    <section style="padding-top:2em;padding-bottom:2em;" class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Your Previous Trip Plans</h2>
          </div>
        </div>
    		<div style="margin-top:-4%;" class="row">
          {% for plan in plans %}
      			<div class="trip col-md-6 col-lg-3 ftco-animate">
      				<div class="project">
      					<div class="img">
  		    				<img src={% static "/landing/images/destination-2.jpg" %} class="img-fluid" alt="Colorlib Template">
  	    				</div>
  	    				<div class="text">
  	    					<h4 style="background-color:white;" class="price"><a class="pid" style="text-decoration:none;" href="/registration/plan/?id={{ plan.pid }}">Check Plan</a></h4>
  	    					<span>{{ plan.days }} Days Tour</span>
  	    					<h3><a href="project.html">{{ plan.name }}, India</a></h3>
  	    					<div class="star d-flex clearfix">
  	    						<div class="float-right">
  	    							<span class="rate"><a href="#">{{ plan.checkin }} - {{ plan.checkout }}</a></span>
  	    						</div>
  	    					</div>
  	    				</div>
  	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
  	    					<span class="icon-expand"></span>
  	    				</a>
      				</div>
      			</div>
          {% endfor %}
          <!-- <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-3.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
          <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-1.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
          <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-4.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
          <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-2.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
          <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-3.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
          <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-1.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
          <div class="trip col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
    					<div class="img">
		    				<img src={% static "/landing/images/destination-4.jpg" %} class="img-fluid" alt="Colorlib Template">
	    				</div>
	    				<div class="text">
	    					<h4 class="price">Check Plan</h4>
	    					<span>15 Days Tour</span>
	    					<h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
	    					<div class="star d-flex clearfix">
	    						<div class="float-right">
	    							<span class="rate"><a href="#">12 June, 2020 - 15 June 2020</a></span>
	    						</div>
	    					</div>
	    				</div>
	    				<a href="images/destination-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div> -->
          <div class="back">
              <div class="button_base b11_3d_jumpback">
                  <div id="show">Show More</div>
              </div>
          </div>
    		</div>
    	</div>
    </section>

    <section class="ftco-counter img" id="section-counter" style="margin-top:2%;">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url({% static '/landing/images/about.jpg' %});"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4">About Traveland</h2>
		            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Amazing Deals</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="200">0</strong>
		                <span>Sold Tours</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="2500">0</strong>
		                <span>New Tours</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="40">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>



    <section class="ftco-section ftco-no-pb testimony-section" style="margin-top: 2%;margin-bottom: 2%;background-image: url({% static '/landing/images/bg_1.jpg' %});">
    	<div class="overlay"></div>
      <div class="container">
        <div style="padding-bottom:0% !important;" class="row justify-content-center pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Happy Traveler Says</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12 testimonial">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div style="margin-bottom:9%;" class="testi-wrap">
      						<div class="testi">
      							<strong>"Lorem ipsum dolor..."</strong>
      			        <p>
      			          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas odit consectetur necessitatibus suscipit libero nam porro hic, cumque quos, aspernatur voluptatem laboriosam modi voluptatum nesciunt deleniti repellat error doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      			        </p>
      						</div>
      						<cite class="testi-author">
      							<span class="name">
                      <div class="row">
                        <div class="col-10">
                          <strong>Betty Crocker</strong>
                        </div>
                        <div class="col-2" style="margin-top:-3%;">
                          <img style="border:2px solid white;width:7vh;height:7vh;float:right;border-radius:50%;" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="dp">
                        </div>
                      </div>
                    </span>
      						</cite>
      					</div>
              </div>
              <div class="item">
                <div style="margin-bottom:9%;" class="testi-wrap">
      						<div class="testi">
      							<strong>"Lorem ipsum dolor..."</strong>
      			        <p>
      			          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas odit consectetur necessitatibus suscipit libero nam porro hic, cumque quos, aspernatur voluptatem laboriosam modi voluptatum nesciunt deleniti repellat error doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      			        </p>
      						</div>
      						<cite class="testi-author">
      							<span class="name">
                      <div class="row">
                        <div class="col-10">
                          <strong>Betty Crocker</strong>
                        </div>
                        <div class="col-2" style="margin-top:-3%;">
                          <img style="border:2px solid white;width:7vh;height:7vh;float:right;border-radius:50%;" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="dp">
                        </div>
                      </div>
      							</span>
      						</cite>
      					</div>
              </div>
              <div class="item">
                <div style="margin-bottom:9%;" class="testi-wrap">
      						<div class="testi">
      							<strong>"Lorem ipsum dolor..."</strong>
      			        <p>
      			          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas odit consectetur necessitatibus suscipit libero nam porro hic, cumque quos, aspernatur voluptatem laboriosam modi voluptatum nesciunt deleniti repellat error doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      			        </p>
      						</div>
      						<cite class="testi-author">
      							<span class="name">
                      <div class="row">
                        <div class="col-10">
                          <strong>Betty Crocker</strong>
                        </div>
                        <div class="col-2" style="margin-top:-3%;">
                          <img style="border:2px solid white;width:7vh;height:7vh;float:right;border-radius:50%;" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="dp">
                        </div>
                      </div>
      							</span>
      						</cite>
      					</div>
              </div>
              <div class="item">
                <div style="margin-bottom:9%;" class="testi-wrap">
      						<div class="testi">
      							<strong>"Lorem ipsum dolor..."</strong>
      			        <p>
      			          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas odit consectetur necessitatibus suscipit libero nam porro hic, cumque quos, aspernatur voluptatem laboriosam modi voluptatum nesciunt deleniti repellat error doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      			        </p>
      						</div>
      						<cite class="testi-author">
      							<span class="name">
                      <div class="row">
                        <div class="col-10">
                          <strong>Betty Crocker</strong>
                        </div>
                        <div class="col-2" style="margin-top:-3%;">
                          <img style="border:2px solid white;width:7vh;height:7vh;float:right;border-radius:50%;" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="dp">
                        </div>
                      </div>
      							</span>
      						</cite>
      					</div>
              </div>
              <!-- <div class="item">
                <div class="testimony-wrap img" style="background-image: url({% static '/landing/images/traveler-1.jpg' %});">
                	<div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url({% static '/landing/images/traveler-2.jpg' %});">
                	<div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url({% static '/landing/images/traveler-3.jpg' %});">
                	<div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url({% static '/landing/images/traveler-4.jpg' %});">
                	<div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap" style="background-image: url({% static '/landing/images/traveler-5.jpg' %});">
                	<div class="overlay"></div>
                  <div class="text">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-subscribe" style="background-image: url({% static '/landing/images/bg_1.jpg' %});">
      <div class="overlay">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 text-wrap text-center heading-section ftco-animate">
              <h2>Your Valuable Feedback</h2>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-10">
                  <form action="/review/" class="subscribe-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group d-flex">
                      <div class="row" style="margin-left:0%;width:100%;">
                        <div class="col-6">
                          <input style="border-radius: 5px 5px 5px 5px;" type="email" name="email" class="form-control" placeholder="Email address" required>
                        </div>
                        <div class="col-6">
                          <input style="border-radius: 5px 5px 5px 5px;" type="text" name="title" class="form-control" placeholder="Title" required>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group d-flex" style="margin-top:3%;">
                      <div class="row" style="width:100%;">
                        <div class="col-3">
                          <div class="radio">
                            <input id="radio-1" name="type" value="review" type="radio">
                            <label for="radio-1" class="radio-label">Review</label>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="radio">
                            <input id="radio-2" name="type" value="complaint" type="radio">
                            <label for="radio-2" class="radio-label">Complaint</label>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div style="margin-top:3%;" class="form-group d-flex">
                      <textarea class="form-control" placeholder="Your content goes here..." name="content" rows="8" cols="80" required></textarea>
                    </div>
                    <div style="margin-top:3%;" class="form-group d-flex">
                      <input style="width:40%;margin-left:30%;border-radius: 5px 5px 5px 5px;" type="submit" name="submit" value="Submit" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<script type="text/javascript">
  var trips = document.getElementsByClassName('trip');
  var show = document.getElementById('show');
  var showing = 0;

  window.onload = function(){
    for(var i=4;i<trips.length;i++){
      trips[i].style.display = "none";
    }
    if(trips.length === 4){
      show.style.display = "none";
    }
  }

  show.onclick = function(){
    if(showing === 0){
      showing = 1;
      for(var i=4;i<trips.length;i++){
        trips[i].style.display = "block";
      }
      show.innerHTML = "Show Less";
    }else{
      showing = 0;
      for(var i=4;i<trips.length;i++){
        trips[i].style.display = "none";
      }
      show.innerHTML = "Show More";
    }
  }
</script>

{% endblock %}
